
.sct01 {
    background-color: #e6fae1;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sctbox {
    background-color: #7b8f75;
    width: 300px; height: 500px;
}

.sct02 {
    background-color: #b7c9b1;
    height: 100vh;
}
.sct03 {
    background-color: #94a390;
    height: 100vh;
}
.sct04 {
    background-color: #778573;
    height: 100vh;
}
.sct05 {
    background-color: #525c50;
    height: 100vh;
}
.sct06 {
    background-color: #272b25;
    height: 100vh;
}