.img-box02 {
    background-color: rgb(149, 199, 149);
}

/* 4단계 : 종횡비 활성화하면서 + 이미지 커스텀 사이즈 유지하고 + 이미지 중심 활성화 */
.img-box03 > img {
    width: 500px; height: 500px;
    object-fit: cover;
    /* 사이즈 유지하면서 그외는 잘라주는 형태 (피그마 프레임 설정) 
    단 중앙만 보이는 형상있음 */
    /* ★★ 3단계 문제(개념)를 4단계 방법으로 해결 ★★
    => 반응형에서도 적용  */
}