/* 팝업 */

.popup::before {
    content: " ";
    /* font-size: 20px; xxx*/
    width: 30px;
}

.popup {
    background-color: #E8E8E8;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 10px;
    line-height: 15px; /* 145.631% */
    /* 패딩값을 기준 popup 에 */
    padding-left: 20px; padding-right: 20px; 
}
.popup::after {
    content: "X";
    font-size: 20px;
    width: 30px; text-align: right;
    cursor: pointer;
}



/* 탑바 */
.top-bar {
    /* border: 1px solid orange; */
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    
}

/* 탑바 네비 */
.menu01{
    width: 388px;
}

.menu01-ul {
    display: flex;
    gap: 16px;
    height: 100%;
    align-items: center;
}
.menu01-li {
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px; /* 136.364% */
}

/* 로고 박스 */
.logo-box {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: flex-end;
}


/* 탑바 유저 */

.user-menu {
    /* border: 1px solid orange; */
    width: 388px;
    display: flex;
    justify-content: flex-end;
    /* align-items: stretch; */
}
.user-menu-ul {
    display: flex;
    gap: 16px;
    /* height: 100%; */
    /* justify-content: flex-end; */
    align-items: center;
}
.user-menu-li {
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px; /* 136.364% */
}