.Bestseller-Section {
    border: 5px solid orange;
    /* width: 1920px; => 가로 스크롤 활성화되기 때문에 고정 너비 x/ 대신 패딩값 설정 */
    padding: 124px 80px;
}
/* 섹션 안의 상단 부분 */
.ul-nav {
    border: 1px solid green;
    padding-top: 65px;  padding-bottom : 65px;
    display: flex;  justify-content : space-between;
}

.section-title {
    border: 1px solid blue;
}
.view-all {
    border: 1px solid blue;
}

/* 섹션 안의 하단 부분  */
.amp-swiper {
    border: 1px solid green;
    display : flex;
} 
.best-product-list {
    /* 높이값 지정 x */
    /* background-color: gray; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* flex-basis:는 flex-item 전용 width 속성
    flex-basis (flex-item만 사용 가능) = width(모든 속성값에 사용 가능)
    예시 ) flex-basis: 0; = width: 0;과 동일하나 (가독성으로 flex-basis: 0; 선호)
    flex-grow를 사용했을 때 무조건 flex-basis: 0; 사용 x
    일정한 비율을 원할때 -> flex-basis사용, 
    하위 구성요소 크기에 따라 비율을 가져야 할때 ->flex-basis 사용x */
    /* 구성요소 예시 : 이미지, 박스, 글자 등 .. 웹 사이트에 보이는 모든 것  */
    /* 태그 = 객체 = node */
    flex-basis: 0; 
}

.best-product-list01 {border: 3px solid red;}
.best-product-list02 {border: 3px solid rgb(253, 75, 75);}
.best-product-list03 {border: 3px solid rgb(255, 118, 118);}
.best-product-list04 {border: 3px solid rgb(250, 165, 165);}



.best-img-box {
    border: 1px solid orange;
    height: 410px;
    background-color: #ebebebeb;
}
.best-discount-title {
    border: 1px solid orange;
    padding-top: 40px; padding-bottom: 42px;
}
.best-discount-subhead {
    border: 1px solid orange;
    padding-bottom: 42px;
}
.best-price-capacity {
    border: 1px solid orange;
    padding-top: 14px; padding-bottom: 24px;
    display: flex ;
    /* 여기서 display: flex ;는 -> 정렬 + space-between을 사용하기 위함 */
    justify-content: space-between;
}

.best-price {
    border: 1px solid orange;
}
.best-capacity {
    border: 1px solid orange;
}
.best-capacity-30ml {
    border: 1px solid orange;
}

.best-capacity-60ml {
    border: 1px solid orange;
}


.best-pro-btn {
    border: 1px solid #E1DED9;
    background: #FFF;
    /* flex-grow 임의값 410px */
    /* width: 100%;를 쓰면 고정이 됨. 
    -> 대신에 flex-grow: ; 사용 / 
    단,grow사용하려면 부모에 flex에 부여해줘야 함 (display: flex;    flex-direction: column;) */
    flex-grow: 1;
    padding-top: 12px; padding-bottom: 12px;
    /* 피그마에서 글씨체 속성 복사 */
    color: #596d62;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px; /* 150% */
    letter-spacing: 0.06px;

    /* 사용 안하는 코드 */
    /* text-transform: capitalize;
    font-family: Raleway;
    font-style: normal; */

    transition: 0.3s;
}
.best-pro-btn:hover {
    background-color: #212529;
    color: #FFF;
}
