/* body {
    margin-left: 64px;
    margin-right: 64px;
} */

/* 홈페이지 상단 */
header  {
    background-color: #b7d3be;
    height: 85px; 
    /* width: 1920px; */
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}




/* 상단바 네비(좌) */
nav {
    /* background-color: #98ad9e; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
}

.nav-box01, .nav-box02, .nav-box03, .nav-box04, .nav-box05 {
    background-color: #7f9184;
    border-radius: 2px;
    height: 12px;
}


.nav-box01 {
    width: 92px;
}
.nav-box02 {
    width: 112px;

}
.nav-box03 {
    width: 148px;
}
.nav-box04 {
    width: 72px;
}
.nav-box05 {
    width: 88px;
}


/* 상단바 로고(중) */
.logo-box {
    background-color: #7f9184;
}



/* 상단바 유저메뉴(우) */
.user-menu {
    /* background-color: #4c524d; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.user-box01, .user-box02, .user-box03, .user-box04, .user-box05 {
    background-color: #7f9184;
    border-radius: 2px;
    height: 12px;
}

.user-box01 {
    width: 68px;
}
.user-box01 {
    width: 68px;
}
.user-box02 {
    width: 92px;
}
.user-box03 {
    width: 58px;
}
.user-box04 {
    width: 84px;
}
.user-box05 {
    width: 36px;
}


/* 홈페이지 메인 */
main {
    background-color: #98ad9e;
    height: 400vh;
    /* width: 1920px; */
    padding: 64px;
}

.sct01, .sct02, .sct03, .sct04 {
    background-color: #acb6af;
    border: 2px solid gray; 
}

.sct01 {
    display: flex;
    flex-direction: row;
    gap: 36px;  
}

.sct01-left {
    background-color: #495c45;
    flex-grow: 1;
}
.sct01-right {
    background-color: #3a4238;
    width: 656px;
    height: 610px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sct01-rbox01 {
    background-color: gray;
    /* width: 656px;
    height: 289px; */
    flex-grow: 1;    
}
.sct01-rbox02 {
    background-color: rgb(102, 99, 99);
    width: 656px;
    height: 289px;
}





/* 홈페이지 하단 */

footer {
    background-color: #7f9184;
    height: 68px;
    width: 1920px;
    border: 2px solid gray;
    padding-left: 64px;
    padding-right: 64px;
}